flow.txt
[{"id":"f082a68a.6a62b8","type":"tab","label":"Poseidon"},{"id":"88d132c1.2424e","type":"tab","label":"WebSocket"},{"id":"127870c4.732a3f","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"9c105674.0146a8","type":"ui_base","name":"ArduSub Companion UI","theme":"theme-light"},{"id":"a9082840.1e0aa8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","order":1},{"id":"96e3e284.5385e","type":"ui_group","z":"","name":"System Health","tab":"45664240.74eeac","order":2,"disp":true,"width":"4"},{"id":"d050a839.8b3e28","type":"ui_group","z":"","name":"System Info","tab":"45664240.74eeac","order":3,"disp":true,"width":"10"},{"id":"c85e2a47.090d48","type":"ui_group","z":"","name":"Welcome","tab":"a9082840.1e0aa8","order":1,"disp":true,"width":"6"},{"id":"45664240.74eeac","type":"ui_tab","z":"","name":"Raspberry Pi","icon":"dashboard","order":2},{"id":"b7b6d4b7.f7a9f8","type":"ui_tab","z":"","name":"Pixhawk","icon":"dashboard","order":3},{"id":"19a1d23d.6e241e","type":"ui_link","z":"","name":"Blue Robotics","link":"http://www.bluerobotics.com","icon":"open_in_browser","target":"newtab","order":1},{"id":"7f580e5d.73362","type":"ui_group","z":"","name":"Camera","tab":"45664240.74eeac","order":3,"disp":true,"width":"6"},{"id":"e3875bf.9156ba8","type":"websocket-listener","z":"","path":"ws/raspberrypi","wholemsg":"false"},{"id":"8d8643c1.c281f","type":"ui_group","z":"","name":"Default","tab":"","disp":true,"width":"6"},{"id":"fe95fde.b30a4","type":"websocket-listener","z":"","path":"/ws/index","wholemsg":"false"},{"id":"7f61a150.54954","type":"websocket-listener","z":"","path":"/ws/ui","wholemsg":"false"},{"id":"eab14a4d.f98e68","type":"inject","z":"f082a68a.6a62b8","name":"Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":391.1999816894531,"y":503.20001220703125,"wires":[["8a27c568.06f608","dcebb273.42b1a"]]},{"id":"8a27c568.06f608","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":707.1999816894531,"y":445.7000427246094,"wires":[["9a736686.5aee38"],[],[]]},{"id":"9a736686.5aee38","type":"function","z":"f082a68a.6a62b8","name":"ConvertTemp","func":"msg.payload = \"CPU_Temp=\" + Math.round((msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\") * 1.8) + 32);\nreturn msg;","outputs":1,"noerr":0,"x":997.2000122070312,"y":415.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"3832267e.16076a","type":"exec","z":"f082a68a.6a62b8","command":"df -hl | grep '/dev/root'","addpay":false,"append":"","useSpawn":"","timer":"","name":"getDiskSpace","x":702.1999816894531,"y":352.20001220703125,"wires":[["85e14dbe.5aac"],[],[]]},{"id":"8be364b6.116d48","type":"inject","z":"f082a68a.6a62b8","name":"Get Once at Startup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":374.199951171875,"y":142.20001220703125,"wires":[["b897ddb6.b1ccd","8836f0ae.6490a"]]},{"id":"fc4d78f6.9d63e8","type":"inject","z":"f082a68a.6a62b8","name":"Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":429.4999694824219,"y":617.7999877929688,"wires":[["85c47fc2.d3b25"]]},{"id":"85e14dbe.5aac","type":"function","z":"f082a68a.6a62b8","name":"ParseOutPercentage","func":"msg.payload = \"Disk_Space=\" + msg.payload.replace(\"/dev/root \",\"\").split(\" \")[14].replace(\"%\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":989.2000122070312,"y":328.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"b897ddb6.b1ccd","type":"exec","z":"f082a68a.6a62b8","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"","timer":"","name":"getOSInfo","x":729.1999816894531,"y":101.20001220703125,"wires":[["61a38840.34c148"],[],[]]},{"id":"61a38840.34c148","type":"function","z":"f082a68a.6a62b8","name":"ParseOutOS","func":"msg.payload = msg.payload.split('\"')[1];\nreturn msg;","outputs":1,"noerr":0,"x":973.2000122070312,"y":108.20000076293945,"wires":[[]]},{"id":"dcebb273.42b1a","type":"Memory","z":"f082a68a.6a62b8","name":"","x":720.1999816894531,"y":540.2000122070312,"wires":[["f3605d0b.2fbe"]]},{"id":"f3605d0b.2fbe","type":"function","z":"f082a68a.6a62b8","name":"GetPercentage","func":"msg.payload = \"CPU_Mem=\" + msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":990.2000122070312,"y":532.2000122070312,"wires":[["9cf9aba9.3b8108"]]},{"id":"8836f0ae.6490a","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"get_camera","useSpawn":"","timer":"","name":"getCameraStatus","x":715.1999816894531,"y":220.2000274658203,"wires":[["5a45ccdc.ca3444","ad0737a9.5958e8"],[],[]]},{"id":"5a45ccdc.ca3444","type":"function","z":"f082a68a.6a62b8","name":"Supported","func":"msg.payload = msg.payload.split(\" \");\nvar value = \"Pi_Camera_Supported=\" + msg.payload[0].split(\"=\")[1];\n\nmsg.payload = value;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1010.2000122070312,"y":177.2000274658203,"wires":[["9cf9aba9.3b8108"]]},{"id":"ad0737a9.5958e8","type":"function","z":"f082a68a.6a62b8","name":"Camera_Detected","func":"\nmsg.payload = msg.payload.split(\" \");\nvar value = msg.payload[1].split(\"=\")[1];\n\nmsg.payload = \"Pi_Camera_Detected=\" + value[value.length-2];\n\n\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":982.2000122070312,"y":247.2000274658203,"wires":[["9cf9aba9.3b8108"]]},{"id":"9ad09f80.e79c4","type":"function","z":"f082a68a.6a62b8","name":"upTime","func":"function convert(seconds) {\n    seconds = Number(seconds);\n    var hours = Math.floor(seconds / 3600);\n    var minutes = Math.floor(seconds % 3600 / 60);\n    var sec = Math.floor(seconds % 3600 % 60);\n    return ((hours > 0 ? hours + \":\" + (minutes < 10 ? \"0\" : \"\") : \"\") + minutes + \":\" + (sec < 10 ? \"0\" : \"\") + sec); \n}\n\nmsg.payload = \"upTime=\" + convert(msg.payload.uptime);\nreturn msg;","outputs":1,"noerr":0,"x":944.2000122070312,"y":622.5999965667725,"wires":[["9cf9aba9.3b8108"]]},{"id":"85c47fc2.d3b25","type":"Uptime","z":"f082a68a.6a62b8","name":"","x":702.9999694824219,"y":656,"wires":[["9ad09f80.e79c4"]]},{"id":"f769f3f0.18b5f","type":"function","z":"f082a68a.6a62b8","name":"getData Request from UI","func":"if (msg.payload == \"getData\"){\n    \n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":219,"y":379,"wires":[["8a27c568.06f608","dcebb273.42b1a","3832267e.16076a","8836f0ae.6490a","b897ddb6.b1ccd"]]},{"id":"67219c55.c72a04","type":"websocket in","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":86,"y":316,"wires":[["f769f3f0.18b5f"]]},{"id":"9cf9aba9.3b8108","type":"websocket out","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":1324,"y":422,"wires":[]},{"id":"76e3c86e.1b8848","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":176,"y":108,"wires":[["40ffe2db.4b840c"]]},{"id":"40ffe2db.4b840c","type":"debug","z":"88d132c1.2424e","name":"","active":false,"console":"false","complete":"false","x":398.99993896484375,"y":107,"wires":[]},{"id":"9cea0359.3f90f","type":"websocket out","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":658.7999877929688,"y":183.79998779296875,"wires":[]},{"id":"5d8895f8.e5eb5c","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":215.79998779296875,"y":174.79998779296875,"wires":[["71b080a0.483d6"]]},{"id":"71b080a0.483d6","type":"function","z":"88d132c1.2424e","name":"UI Info","func":"if (msg.payload == \"getContent\"){\n    \n    msg.payload = \"ui_Info=Welcome to the new UI for ROV control and configuration.  This interface is hosted from the Raspberry Pi onboard the ROV.  It allows you to connect to the ROV on any device without the need to install any software. </br></br>To start with, the UI will mainly be used to configure subsystems, check system health, and view alarms and history. </br></br>More features are being added daily.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":442.79998779296875,"y":185.79998779296875,"wires":[["9cea0359.3f90f"]]}]