flow.txt
[{"id":"eab14a4d.f98e68","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":297.1999816894531,"y":519.2000122070312,"wires":[["8a27c568.06f608","dcebb273.42b1a"]]},{"id":"8a27c568.06f608","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":713.199951171875,"y":411.7000427246094,"wires":[["9a736686.5aee38"],[],[]]},{"id":"3832267e.16076a","type":"exec","z":"f082a68a.6a62b8","command":"df -hl | grep '/dev/root'","addpay":false,"append":"","useSpawn":"","timer":"","name":"getDiskSpace","x":702.1999816894531,"y":352.20001220703125,"wires":[["85e14dbe.5aac"],[],[]]},{"id":"fc4d78f6.9d63e8","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":303.4999694824219,"y":557.7999877929688,"wires":[["85c47fc2.d3b25"]]},{"id":"b897ddb6.b1ccd","type":"exec","z":"f082a68a.6a62b8","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"","timer":"","name":"getOSInfo","x":712.199951171875,"y":231.20001220703125,"wires":[["61a38840.34c148"],[],[]]},{"id":"dcebb273.42b1a","type":"Memory","z":"f082a68a.6a62b8","name":"","x":724.199951171875,"y":467.20001220703125,"wires":[["f3605d0b.2fbe"]]},{"id":"8836f0ae.6490a","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"get_camera","useSpawn":"","timer":"","name":"getCameraStatus","x":703.199951171875,"y":289.2000274658203,"wires":[["5a45ccdc.ca3444","ad0737a9.5958e8"],[],[]]},{"id":"85c47fc2.d3b25","type":"Uptime","z":"f082a68a.6a62b8","name":"","x":720,"y":512,"wires":[["9ad09f80.e79c4"]]},{"id":"f769f3f0.18b5f","type":"function","z":"f082a68a.6a62b8","name":"getData Request from UI","func":"if (msg.payload == \"getData\"){\n    \n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":381,"wires":[["8a27c568.06f608","3832267e.16076a","b897ddb6.b1ccd","dcebb273.42b1a","8836f0ae.6490a","85c47fc2.d3b25"]]},{"id":"67219c55.c72a04","type":"websocket in","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":85,"y":381,"wires":[["f769f3f0.18b5f"]]},{"id":"daceccc4.db4ed","type":"exec","z":"f082a68a.6a62b8","command":"ps aux","addpay":false,"append":"","useSpawn":"","timer":"","name":"getProcesses","x":665,"y":95,"wires":[["18adb579.aa6f0b"],[],[]]},{"id":"a46d7c58.d87a6","type":"inject","z":"f082a68a.6a62b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":386,"y":95,"wires":[["daceccc4.db4ed"]]},{"id":"57012db1.5e16b4","type":"inject","z":"f082a68a.6a62b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":144.50001525878906,"y":189,"wires":[["20ffcbe2.5f0304"]]},{"id":"871ce6f.b2b4718","type":"debug","z":"f082a68a.6a62b8","name":"","active":true,"console":"false","complete":"false","x":503.49998474121094,"y":199.40000915527344,"wires":[]},{"id":"20ffcbe2.5f0304","type":"NetworkIntf","z":"f082a68a.6a62b8","name":"","x":305.50001525878906,"y":181,"wires":[["871ce6f.b2b4718"]]},{"id":"7f61a150.54954","type":"websocket-listener","z":"","path":"/ws/ui","wholemsg":"false"}]