flow.txt
[{"id":"f082a68a.6a62b8","type":"tab","label":"Poseidon"},{"id":"88d132c1.2424e","type":"tab","label":"WebSocket"},{"id":"127870c4.732a3f","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"7f61a150.54954","type":"websocket-listener","z":"","path":"/ws/ui","wholemsg":"false"},{"id":"76e3c86e.1b8848","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":176,"y":108,"wires":[["40ffe2db.4b840c"]]},{"id":"40ffe2db.4b840c","type":"debug","z":"88d132c1.2424e","name":"","active":false,"console":"false","complete":"false","x":398.99993896484375,"y":107,"wires":[]},{"id":"9cea0359.3f90f","type":"websocket out","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":658.7999877929688,"y":183.79998779296875,"wires":[]},{"id":"5d8895f8.e5eb5c","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":215.79998779296875,"y":174.79998779296875,"wires":[["71b080a0.483d6"]]},{"id":"71b080a0.483d6","type":"function","z":"88d132c1.2424e","name":"UI Info","func":"if (msg.payload == \"getContent\"){\n    \n    msg.payload = \"ui_Info=Welcome to the new UI for ROV control and configuration.  This interface is hosted from the Raspberry Pi onboard the ROV.  It allows you to connect to the ROV on any device without the need to install any software. </br></br>To start with, the UI will mainly be used to configure subsystems, check system health, and view alarms and history. </br></br>More features are being added daily.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":442.79998779296875,"y":185.79998779296875,"wires":[["9cea0359.3f90f"]]},{"id":"eab14a4d.f98e68","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":297.1999816894531,"y":519.2000122070312,"wires":[["8a27c568.06f608","dcebb273.42b1a"]]},{"id":"8a27c568.06f608","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":713.199951171875,"y":411.7000427246094,"wires":[["9a736686.5aee38"],[],[]]},{"id":"9a736686.5aee38","type":"function","z":"f082a68a.6a62b8","name":"ConvertTemp","func":"msg.payload = \"CPU_Temp=\" + Math.round((msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\") * 1.8) + 32);\nreturn msg;","outputs":1,"noerr":0,"x":997.2000122070312,"y":415.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"3832267e.16076a","type":"exec","z":"f082a68a.6a62b8","command":"df -hl | grep '/dev/root'","addpay":false,"append":"","useSpawn":"","timer":"","name":"getDiskSpace","x":702.1999816894531,"y":352.20001220703125,"wires":[["85e14dbe.5aac"],[],[]]},{"id":"fc4d78f6.9d63e8","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":303.4999694824219,"y":557.7999877929688,"wires":[["85c47fc2.d3b25"]]},{"id":"85e14dbe.5aac","type":"function","z":"f082a68a.6a62b8","name":"ParseOutPercentage","func":"msg.payload = \"Disk_Space=\" + msg.payload.replace(\"/dev/root \",\"\").split(\" \")[14].replace(\"%\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":1012.2000122070312,"y":358.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"b897ddb6.b1ccd","type":"exec","z":"f082a68a.6a62b8","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"","timer":"","name":"getOSInfo","x":712.199951171875,"y":231.20001220703125,"wires":[["61a38840.34c148"],[],[]]},{"id":"61a38840.34c148","type":"function","z":"f082a68a.6a62b8","name":"ParseOutOS","func":"msg.payload = \"Pi_OS=\" + msg.payload.split('\"')[1];\nreturn msg;","outputs":1,"noerr":0,"x":988.2000122070312,"y":215.1999969482422,"wires":[["9cf9aba9.3b8108"]]},{"id":"dcebb273.42b1a","type":"Memory","z":"f082a68a.6a62b8","name":"","x":724.199951171875,"y":467.20001220703125,"wires":[["f3605d0b.2fbe"]]},{"id":"f3605d0b.2fbe","type":"function","z":"f082a68a.6a62b8","name":"GetPercentage","func":"msg.payload = \"CPU_Mem=\" + msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":997.2000122070312,"y":484.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"8836f0ae.6490a","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"get_camera","useSpawn":"","timer":"","name":"getCameraStatus","x":703.199951171875,"y":289.2000274658203,"wires":[["5a45ccdc.ca3444","ad0737a9.5958e8"],[],[]]},{"id":"5a45ccdc.ca3444","type":"function","z":"f082a68a.6a62b8","name":"Supported","func":"msg.payload = msg.payload.split(\" \");\nvar value = \"Pi_Camera_Supported=\" + msg.payload[0].split(\"=\")[1];\n\nmsg.payload = value;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":992.2000122070312,"y":266.2000274658203,"wires":[["9cf9aba9.3b8108"]]},{"id":"ad0737a9.5958e8","type":"function","z":"f082a68a.6a62b8","name":"Camera_Detected","func":"\nmsg.payload = msg.payload.split(\" \");\nvar value = msg.payload[1].split(\"=\")[1];\n\nmsg.payload = \"Pi_Camera_Detected=\" + value[value.length-2];\n\n\nreturn msg;\n\nreturn msg;","outputs":1,"noerr":0,"x":998.2000122070312,"y":313.2000274658203,"wires":[["9cf9aba9.3b8108"]]},{"id":"9ad09f80.e79c4","type":"function","z":"f082a68a.6a62b8","name":"upTime","func":"function convert(seconds) {\n    seconds = Number(seconds);\n    var hours = Math.floor(seconds / 3600);\n    var minutes = Math.floor(seconds % 3600 / 60);\n    var sec = Math.floor(seconds % 3600 % 60);\n    return ((hours > 0 ? hours + \":\" + (minutes < 10 ? \"0\" : \"\") : \"\") + minutes + \":\" + (sec < 10 ? \"0\" : \"\") + sec); \n}\n\nmsg.payload = \"upTime=\" + convert(msg.payload.uptime);\nreturn msg;","outputs":1,"noerr":0,"x":979.2000122070312,"y":529.5999755859375,"wires":[["9cf9aba9.3b8108"]]},{"id":"85c47fc2.d3b25","type":"Uptime","z":"f082a68a.6a62b8","name":"","x":720,"y":512,"wires":[["9ad09f80.e79c4"]]},{"id":"f769f3f0.18b5f","type":"function","z":"f082a68a.6a62b8","name":"getData Request from UI","func":"if (msg.payload == \"getData\"){\n    \n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":381,"wires":[["8a27c568.06f608","3832267e.16076a","b897ddb6.b1ccd","dcebb273.42b1a","8836f0ae.6490a","85c47fc2.d3b25"]]},{"id":"67219c55.c72a04","type":"websocket in","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":85,"y":381,"wires":[["f769f3f0.18b5f"]]},{"id":"9cf9aba9.3b8108","type":"websocket out","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":1324,"y":391,"wires":[]},{"id":"18adb579.aa6f0b","type":"debug","z":"f082a68a.6a62b8","name":"","active":true,"console":"false","complete":"false","x":902.0000152587891,"y":109,"wires":[]},{"id":"daceccc4.db4ed","type":"exec","z":"f082a68a.6a62b8","command":"ps aux","addpay":false,"append":"","useSpawn":"","timer":"","name":"getProcesses","x":665,"y":95,"wires":[["18adb579.aa6f0b"],[],[]]},{"id":"a46d7c58.d87a6","type":"inject","z":"f082a68a.6a62b8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":386,"y":95,"wires":[["daceccc4.db4ed"]]}]