flows_raspberrypi.json
[{"id":"f082a68a.6a62b8","type":"tab","label":"Raspberry Pi"},{"id":"88d132c1.2424e","type":"tab","label":"WebSocket"},{"id":"127870c4.732a3f","type":"subflow","name":"Subflow 1","info":"","in":[],"out":[]},{"id":"7f61a150.54954","type":"websocket-listener","z":"","path":"/ws/ui","wholemsg":"false"},{"id":"76e3c86e.1b8848","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":176,"y":108,"wires":[["40ffe2db.4b840c"]]},{"id":"40ffe2db.4b840c","type":"debug","z":"88d132c1.2424e","name":"","active":false,"console":"false","complete":"false","x":398.99993896484375,"y":107,"wires":[]},{"id":"9cea0359.3f90f","type":"websocket out","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":658.7999877929688,"y":183.79998779296875,"wires":[]},{"id":"5d8895f8.e5eb5c","type":"websocket in","z":"88d132c1.2424e","name":"","server":"7f61a150.54954","client":"","x":215.79998779296875,"y":174.79998779296875,"wires":[["71b080a0.483d6"]]},{"id":"71b080a0.483d6","type":"function","z":"88d132c1.2424e","name":"UI Info","func":"if (msg.payload == \"getContent\"){\n    \n    msg.payload = \"ui_Info=Welcome to the new UI for ROV control and configuration.  This interface is hosted from the Raspberry Pi onboard the ROV.  It allows you to connect to the ROV on any device without the need to install any software. </br></br>To start with, the UI will mainly be used to configure subsystems, check system health, and view alarms and history. </br></br>More features are being added daily.\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":442.79998779296875,"y":185.79998779296875,"wires":[["9cea0359.3f90f"]]},{"id":"eab14a4d.f98e68","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every 5 seconds","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"x":297.1999816894531,"y":519.2000122070312,"wires":[["8a27c568.06f608","dcebb273.42b1a","1f3bbdd2.fb8e02"]]},{"id":"8a27c568.06f608","type":"exec","z":"f082a68a.6a62b8","command":"vcgencmd","addpay":false,"append":"measure_temp","useSpawn":"","name":"getCPUtemp","x":713.199951171875,"y":411.7000427246094,"wires":[["9a736686.5aee38"],[],[]]},{"id":"9a736686.5aee38","type":"function","z":"f082a68a.6a62b8","name":"ConvertTemp","func":"msg.payload = \"CPU_Temp=\" + Math.round((msg.payload.replace(\"temp=\",\"\").replace(\"'C\\n\",\"\") * 1.8) + 32);\nreturn msg;","outputs":1,"noerr":0,"x":997.2000122070312,"y":415.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"3832267e.16076a","type":"exec","z":"f082a68a.6a62b8","command":"df -hl | grep '/dev/root'","addpay":false,"append":"","useSpawn":"","timer":"","name":"getDiskSpace","x":733.4499664306641,"y":147.2000331878662,"wires":[["85e14dbe.5aac"],[],[]]},{"id":"fc4d78f6.9d63e8","type":"inject","z":"f082a68a.6a62b8","name":"Refresh Every Second","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":true,"x":303.4999694824219,"y":557.7999877929688,"wires":[["85c47fc2.d3b25"]]},{"id":"85e14dbe.5aac","type":"function","z":"f082a68a.6a62b8","name":"ParseOutPercentage","func":"msg.payload = \"Disk_Space=\" + msg.payload.replace(\"/dev/root \",\"\").split(\" \")[14].replace(\"%\",\"\");\nreturn msg;","outputs":1,"noerr":0,"x":1019.7000312805176,"y":173.20002126693726,"wires":[["9cf9aba9.3b8108"]]},{"id":"b897ddb6.b1ccd","type":"exec","z":"f082a68a.6a62b8","command":"cat /etc/os-release","addpay":false,"append":"","useSpawn":"","timer":"","name":"getOSInfo","x":712.1999664306641,"y":213.70001983642578,"wires":[["61a38840.34c148"],[],[]]},{"id":"61a38840.34c148","type":"function","z":"f082a68a.6a62b8","name":"ParseOutOS","func":"msg.payload = \"Pi_OS=\" + msg.payload.split('\"')[1];\nreturn msg;","outputs":1,"noerr":0,"x":1003.2000312805176,"y":243.95000457763672,"wires":[["9cf9aba9.3b8108"]]},{"id":"dcebb273.42b1a","type":"Memory","z":"f082a68a.6a62b8","name":"","x":711.6999664306641,"y":464.70002365112305,"wires":[["f3605d0b.2fbe"]]},{"id":"f3605d0b.2fbe","type":"function","z":"f082a68a.6a62b8","name":"GetPercentage","func":"msg.payload = \"CPU_Mem=\" + msg.payload.memusage;\nreturn msg;","outputs":1,"noerr":0,"x":997.2000122070312,"y":484.20001220703125,"wires":[["9cf9aba9.3b8108"]]},{"id":"9ad09f80.e79c4","type":"function","z":"f082a68a.6a62b8","name":"upTime","func":"function convert(seconds) {\n    seconds = Number(seconds);\n    var hours = Math.floor(seconds / 3600);\n    var minutes = Math.floor(seconds % 3600 / 60);\n    var sec = Math.floor(seconds % 3600 % 60);\n    return ((hours > 0 ? hours + \":\" + (minutes < 10 ? \"0\" : \"\") : \"\") + minutes + \":\" + (sec < 10 ? \"0\" : \"\") + sec); \n}\n\nmsg.payload = \"upTime=\" + convert(msg.payload.uptime);\nreturn msg;","outputs":1,"noerr":0,"x":979.2000122070312,"y":529.5999755859375,"wires":[["9cf9aba9.3b8108"]]},{"id":"85c47fc2.d3b25","type":"Uptime","z":"f082a68a.6a62b8","name":"","x":717.5000152587891,"y":517.0000114440918,"wires":[["9ad09f80.e79c4"]]},{"id":"f769f3f0.18b5f","type":"function","z":"f082a68a.6a62b8","name":"getData Request from UI","func":"if (msg.payload == \"getData\"){\n    \n    msg.payload = \"\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":381,"wires":[["8a27c568.06f608","3832267e.16076a","b897ddb6.b1ccd","dcebb273.42b1a","85c47fc2.d3b25","1f3bbdd2.fb8e02"]]},{"id":"67219c55.c72a04","type":"websocket in","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":85,"y":381,"wires":[["f769f3f0.18b5f"]]},{"id":"9cf9aba9.3b8108","type":"websocket out","z":"f082a68a.6a62b8","name":"","server":"7f61a150.54954","client":"","x":1398.2857360839844,"y":405.28572940826416,"wires":[]},{"id":"1f3bbdd2.fb8e02","type":"exec","z":"f082a68a.6a62b8","command":"ifconfig wlan0","addpay":false,"append":"","useSpawn":"","timer":"","name":"","x":708.3214797973633,"y":319.3928928375244,"wires":[["bd9afcff.91f49"],[],[]]},{"id":"bd9afcff.91f49","type":"function","z":"f082a68a.6a62b8","name":"getwlan0 status","func":"var found = msg.payload.match(\"inet addr:\")\nif (found===null) {\n        msg.payload = \"Pi_Wifi_Status=Not Connected\"\n}\nelse {\n    \n    msg.payload = \"Pi_Wifi_Status=Connected\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":1026.7000312805176,"y":346.7000198364258,"wires":[["9cf9aba9.3b8108","25c8a835.036008"]]},{"id":"25c8a835.036008","type":"debug","z":"f082a68a.6a62b8","name":"","active":true,"console":"false","complete":"false","x":1444.9999694824216,"y":256.3999938964843,"wires":[]}]